body {
  /* find gradient colors from uigradients.com and copy css code*/
  background: #DE6262;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Roboto;
}

#container {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  /* this makes a very faint small shadow on all 4 sides */
  width: 360px;
  margin: 100px auto;
  background-color: rgba(158, 158, 158, 0.42);
}

h1 {
  background-color: #2980e9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

.fa-plus {
  float: right;
}

input {
  font-size: 18px;
  color: #2980e9;
  background-color: rgba(158, 158, 158, 0.42);
  width: 100%;
  padding: 13px 13px 13px 20px;
  /* border-box includes padding and border in width and height, but not margin */
  box-sizing: border-box;
  /* to get rid of the ugly automatic border, add this below */
  border: 2px solid rgba(0, 0, 0, 0);  
}

input:focus {
  background-color: white;
  border: 3px solid #2980e9;
  /* outline is the annoying blue outline browsers automatically give when focusing */
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: white;
  height: 40px;
  /* set line-height same as height of the element will make text vertically centered */
  line-height: 40px;
  color: #666;
}

/* every other li */
/* every third li will be 3n */
li:nth-child(2n) {
  background-color: rgba(158, 158, 158, 0.42);
}

span {
  background-color: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  display: inline-block;
  transition: 0.2s linear;
  /* start with 0 width and 0 opacity */
  width: 0;
  opacity: 0;  
}

/* increase width to 40 and opacity to 1 when hover over */
li:hover span {
  width: 40px;
  opacity: 1;
}

.completed {
  color: gray;
  text-decoration: line-through;;
}